<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="padding: 0 20vw">
    <a class="navbar-brand" href="#">Binder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=link_to root_path, class: "nav-link active" do%>
            <button class="navbar-home">
              Home
            </button>
          <%end%>
        </li>
      </ul>
      <div class="d-flex home-links">
        <%=link_to '/users/sign_in', class: "nav-link active" do%>
          <button class="navbar-home">
            Sign in
          </button>
        <%end%>
        <%=link_to '/users/sign_up', class: "nav-link active" do%>
          <button class="navbar-home">
            Sign up
          </button>
        <%end%>
      </div>
    </div>
  </div>
</nav>
