.devise-forgot-password {
    display: grid;
    height: 90vh;
    padding: 0 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr; 
}

.forgot-password-img-container {
    grid-column: 1 / 2;    
    align-self: center;
}

.forgot-password-img {
    height: 90%;
    width: 90%;
}

.forgot-password-form {
    grid-column: 2 / 2;    
    align-self: center;
    margin-left: 10%;
}

.disabled {
  background-color: gray;
  border: none;
  border-radius: 5px;  
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
    .devise-forgot-password {
      display: block;
      padding-top: 10vh;
    }
  
    .forgot-password-img-container {
      display: flex;
      justify-content: center;
  
      .forgot-password-img {
        width: 80%;
        height: 80%;
      }
    }
  
    .forgot-password-form {    
      display: flex;
      margin: 0;
      justify-content: center;
    }
  }
