@import '/variables';

.navbar-shared {
  background-color: $quaternary-color;
  color: $primary-color;
  border: none;
  font-weight: bold;
//   width: calc(100% + 10px);
  border-radius: calc(100px / 4);
  transition: 0.5s;
  &:hover {
    background-color: $secondary-color;
    color: white;
  }
}

.nav-username {
  align-self: baseline;
}

.navbar-container {
  padding: 0 20vw;
}

.navbar-brand {
  color: $primary-color !important;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
    .home-links {
        justify-content: unset;
        display: flex;
        flex-direction: column;
        transform: translateY(-7.5px);       

        .nav-link, .active {
            padding: 8px 0
        }
    }
    .navbar-container {
      padding: 0 5vw;
    }
}


