.devise-signup {
    height: 90vh;
    padding: 0 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr; 
}

.signup-img-container {
    grid-column: 1 / 2;    
    align-self: center;
}

.signup-img {
    height: 90%;
    width: 90%;
}

.signup-form {
    grid-column: 2 / 2;    
    align-self: center;
    margin-left: 20%;
}

@media screen and (max-width: 900px) {
    .devise-signup {
      display: block;
      padding-top: 10vh;
    }
    .signup-img-container {
      display: flex;
      justify-content: center;
  
      .signup-img  {
        width: 50%;
        height: 50%;
      }
    }
  
    .signup-form {      
      display: flex;
      margin: 0;
      justify-content: center;
    }
  }