.new-task-and-edit-form-container {
    height: 90vh;
    padding: 0 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-template-rows: 1fr; 
}

.new-task-and-edit-img-container {
    grid-column: 1 / 2;    
    align-self: center;
}

.new-task-and-edit-img {
    height: 90%;
    width: 90%;
}

.new-task-and-edit-form {
    grid-column: 2 / 2;    
    align-self: center;
    margin-left: 10%;
}

