// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary-color: #1b262c;
$secondary-color: #0f4c75;
$tertriary-color: #3282b8;
$quaternary-color: #bbe1fa;

.home-container {
  padding: 0 20vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 90vh;
}

.home-grid-item1 {
  grid-column: 1 / 2;
  align-self: center;
}

.home-grid-item2 {
  grid-column: 2 / 2;
  align-self: center;
}

.home-img {
  width: 100%;
  height: 100%;
}

.home-cta {
  background-color: $tertriary-color;
  color: white;
  padding: 15px;
  border-radius: 7.5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: green;
    transition: all 0.5s ease;
  }
}

@media screen and (max-width: 900px) {
  .home-container {
    display: block;
    padding-top: 20vh;
    text-align: center;
  }
  .home-grid-item1 {
    display: flex;
    justify-content: center;

    .home-img {
      width: 70%;
      height: 70%;
    }
  }
}
